services:
  # ----------------------------
  # service-name:
  #   repo: repository URL (required)
  #   path: local path (optional, defaults to `services/service-name`; example: ../repo-path)
  #   env: array of environment variables to set (optional); example:
  #
  #        env:
  #          - TILT_CUSTOM_REPO_ENV_PATH: ../repo-path/.env.local
  #
  # ----------------------------
  - sigil-tokens:
      repo: https://github.com/omnidotdev/sigil-tokens#master
  - sigil-site:
      repo: https://github.com/omnidotdev/sigil-site#master
  - thornberry:
      repo: https://github.com/omnidotdev/thornberry#master
  - zenpetal:
      repo: https://github.com/omnidotdev/zenpetal#master
